

.ALBUMS {
	@include span-columns(3 of 12, table);
}

.PARTNERS {
	@include span-columns(2 of 10);

	div img {
		height: 100px;
		width: 100px;
	}
	@media #{$brk-narrow} {
		@include span-columns(2 of 10);
		div img {
		height: 50px;
		width: 50px;
		}
	}
}

.AUDIO {
	position: relative;
	margin-bottom: 100px;
}

.ART_FOOT {
	position: relative;
}

.ARTISTS {
	@include span-columns(12)
	display: block;
	margin-bottom: 10px;
	text-align: center;
	line-height: 200%;
	padding: 0px;

	h1 {
		margin-top: 100px;
		margin-bottom: 100px;
		font-size: 50px;
		font-family: 'Work Sans', sans-serif;
		@media #{$brk-narrow} {
			font-size: 30px;
			margin-top: 100px;
			margin-bottom: 30px;
		}
	}

	h2 {
		margin-top: 30px;
		margin-bottom: 70px;
		font-size: 30px;
		font-family: 'Work Sans', sans-serif;
		text-decoration: none;
		@media (max-width: 768px) {
			font-size: 20px;
		}
	}
}

.ARTISTS_LIST {

	@include span-columns(12)
	display: block;
	font-size: 20px;
	text-align: center;
	line-height: 300%;
	@media #{$brk-narrow} {
		font-size: 16px;
	}

	h2 {
		margin: 30px 0px;
	}

	@media #{$brk-small} {
		@include span-columns(12)
		line-height: 200%;
	}

}

button.accordion {
		@include span-columns(4 of 12, table);
		margin-top: 50px;
		margin-bottom: 50px;
		border-radius: 10px;
		display: inline-block;
		height: 80px;
		font-size: 20px;
		background-color: black;
		color: white;
		transition: .5s ease;

		

		@media #{$brk-narrow} {
			@include span-columns(12 of 12, table);
			font-size: 20px;
			height: 80px;
			margin: auto;
			margin-top: 80px;
			display: block;
		}
}

button.accordion.active, button.accordion:hover {
    background-color: white;
	color: black;
	border: 1px solid black;
	
}
button:focus {
    outline: none;
    border: none;
}
/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    line-height: 300%;
    font-size: 20px;
    @media #{$brk-narrow} {
		font-size: 16px;
		line-height: 200%;
	}
}



