

.ALBUMS {
	@include span-columns(3 of 12, table);
}

.PARTNERS {
	@include span-columns(2 of 10);

	div img {
		height: 100px;
		width: 100px;
	}

	@media #{$brk-narrow} {
		@include span-columns(2 of 10);
	
		div img {
		height: 50px;
		width: 50px;
		
		}
	}

}

.AUDIO {
	position: relative;
	margin-bottom: 100px;
}


.ART_FOOT {
	position: relative;
}

.ARTISTS {
	@include span-columns(12)
	display: block;
	margin-bottom: 10px;
	text-align: center;
	line-height: 200%;
	padding: 0px;

	h1 {
		margin-top: 100px;
		margin-bottom: 0px;
		font-size: 50px;
		font-family: 'Work Sans', sans-serif;
	}

	h2 {
		margin-top: 30px;
		margin-bottom: 100px;
		font-size: 20px;
		font-family: 'Work Sans', sans-serif;
		text-decoration: none;
	}

}

.ARTISTS_LIST {

	@include span-columns(12)
	display: block;
	font-size: 20px;
	text-align: center;
	line-height: 300%;

	h2 {
		margin: 30px 0px;
	}

	@media #{$brk-small} {
		@include span-columns(12)
		line-height: 200%;
	}

}

button.accordion {
		@include span-columns(4 of 12, table);
		margin-top: 50px;
		margin-bottom: 50px;
		border-radius: 10px;
		display: inline-block;
		height: 80px;
		font-size: 20px;
		background-color: black;
		color: white;
		transition: .5s ease;
		

		@media #{$brk-narrow} {
			@include span-columns(12 of 12, table);
			font-size: 20px;
			height: 80px;
			margin: auto;
			margin-top: 10px;
			display: block;
		}
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: white;
	color: black;
	border: 1px solid black;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    line-height: 300%;
    font-size: 20px;
}



