

.box {
    height: 600px;
  	width: 600px;


  	@media #{$brk-narrow} {
		height: auto;
		width: 100%;
	}
}

.studio0,
.studio1 {
	@include span-columns(6 of 12, table);


	@media #{$brk-narrow} {
		@include span-columns(12 of 12);
		height: auto;
	}

}


.CONTACT_US {

	height: 350px;
	@include span-columns(12);
	margin-top: 100px;
	text-align: center;

	div {
		@include span-columns(12);
			font-size: 30px;

		@media #{$brk-narrow} {
			font-size: 20px;
			margin-bottom: 80px;
		}
	}

	span {
		margin: 0px 5%; 
	}

	button {
		@include span-columns(4 of 12, table);
		margin-top: 100px;
		margin-bottom: 100px;
		border-radius: 10px;
		display: inline-block;
		height: 80px;
		font-size: 20px;
		background-color: black;
		color: white;
		transition: .5s ease;

		@media #{$brk-narrow} {
			@include span-columns(10 of 12, table);
			font-size: 20px;
			height: 80px;
			margin: auto;
			margin-top: 80px;
			display: block;
		}
	}	

	button:hover {
		background-color: white;
		color: black;
		border: 1px solid black;
	}
}



footer {
	
	@include span-columns(12);
	background-color: black;
	color: white;
	margin-top: 50px;
	text-align: center;

	@media #{$brk-narrow} {
			margin-top: 160px;
		}


	a {
		margin: 80px;

		@media #{$brk-narrow} {
			margin: 15px;
		}
	}

	img {
		margin-top: 10%;
		height: 70px;
		width: 70px;

		@media (max-width: 768px) {
			margin-top: 20%;
			height: 40px;
			width: 40px;
			display: inline;
		}
	}

	span {
		color: $color-gold;
	}

	div {
		
		margin: 40px;
		margin-top: 12%;
	}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}

img {  
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

img:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

}



