

.box {
    height: 600px;
  	width: 600px;
}

.studio0,
.studio1 {
	@include span-columns(6 of 12, table);

}


.SLIDER {
	height: 500px;
	@include span-columns(12);
	margin-top: 50px;
	text-align: center;
}

.CONTACT_US {
	height: 350px;
	@include span-columns(12);
	margin-top: 100px;
	text-align: center;

	div {
		@include span-columns(12);
		font-size: 30px;
	}

	span {
		margin: 0px 80px; 
	}

	button {
		@include span-columns(4 of 12, table);
		margin-top: 50px;
		display: inline-block;
		height: 60px;
		font-size: 20px;
		background-color: black;
		color: white;
		transition: .5s ease;
	}	

	button:hover {
		background-color: white;
		color: black;
		border: 1px solid black;
	}
}



.SOCIAL {
	height: 450px;
	@include span-columns(12);
	background-color: black;
	color: white;
	margin-top: 50px;
	text-align: center;
}


