

.STUFF {
	@include span-columns(12)
	font-size: 25px;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;
}


h2 {
	font-size: 30px;
}


.ITEMS {
	@include span-columns(4)
	display: block;
	text-align: center;
	line-height: 300%;
}




