

.STUDIO_BLURB,
.STUDIO_BLURB1 {
	@include span-columns(12)
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	padding-top: 120px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;

	@media #{$brk-small} {
		padding: 40px 10px 10px 10px;
		font-size: 20px;
	}

}

.STUDIO_BLURB1 {
	padding-bottom: 50px;
	font-size: 30px;
	color: $color-gold;
}


h2 {
	font-size: 20px;
	text-decoration: underline;
	font-weight: normal;
}


.ITEMS {
	@include span-columns(4)
	display: block;
	text-align: center;
	line-height: 300%;

	h2 {
		margin: 30px 0px;
	}

	@media #{$brk-small} {
		@include span-columns(12)
		line-height: 200%;
	}

}

.title {
	max-width: 100%;

	div {
		  width: 100%;
		  text-align: center;
		  margin: auto;
		  margin-top: -40%;
		  font-size: 100px;
		  color: white;
		  position: absolute;
		  display: block;
		  z-index: 9999;

		@media #{$brk-narrow} {
			margin-top: -90%;
		}
	}

}




