
#MAIN_WRAP {
	@include outer-container(100%);
}

#MARGIN_WRAP {
	@include outer-container(85%);
}

#WRAP {
	@include outer-container(100%);
}

#WRAP_PARTNERS {
	@include outer-container(75%);

	@media #{$brk-narrow} {
		@include outer-container(85%)

	}

	@media #{$brk-small} {

	}

}

.BREAK_FUCK {

	@media #{$brk-narrow} {
		margin-bottom: 50px;
	}
	
}


.BREAK {
  margin-bottom: 250px;
  z-index: 900000;
  @include span-columns(12);
}
