
#MAIN_WRAP {
	@include outer-container(100%);

}

#MARGIN_WRAP {
	@include outer-container(90%);

		@media screen and (min-width: 2000px) {
		@include outer-container(70%);

    }
}

#WRAP {
	@include outer-container(100%);

	@media screen and (min-width: 2000px) {
		@include outer-container(70%);

    }

}

#WRAP_STUDIO {
	@include outer-container(100%);

	@media screen and (min-width: 2000px) {
		@include outer-container(70%);
    }

	@media screen and (min-width: 1095px) {
			@include outer-container(70%);
			display: inline;
	  }
}

#WRAP_PARTNERS {
	@include outer-container(75%);

	@media #{$brk-narrow} {
		@include outer-container(90%)
		transition: .5s;
	}

}

.BREAK_FUCK {
	@media #{$brk-narrow} {
		margin-bottom: 110px;
	}
}


.BREAK {
  margin-bottom: 100px;
  z-index: 900000;
  @include span-columns(12);
}
