/* ICONS */

/* BOUNCE ARROW =========================== */

.arrow, .arrow2 {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    margin: auto;
    top: 85%;
    left: 48%;
    width: 80px;
    height: 80px;
    transition: all .5s ease-in-out;
    z-index: 890000;
}

.arrow2 {
  top: 75%;
}

.blink-image {
  margin-top: 50%;
  width: 30px;
  position: absolute;

  @media #{$brk-narrow} {
    margin-top: 15%;
    width: 25px; }

  @media #{$brk-small} {
    margin-top: 25%;
    width: 25px; }
}

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.blink-image {
  -moz-animation: blink normal 2s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out;
  /* IE */
  animation: blink normal 2s infinite ease-in-out;
  /* Opera and prob css3 final iteration */ }

/* BOUNCE ARROW  END=========================== */




/* LOGO END =========================== */
