

.container {
    position: relative;
    width: 100%;
    background-color: $color-white;
}


.image {
  opacity: 0.3;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

    @media #{$brk-narrow} {
      width: 100%;
      opacity: .8;
      background-color: $color-gold;
  }
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);


}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 0;
}

.container:focus .middle1 {
  opacity: 1;
}

.text1 {
  font-size: 25px;
  color: black;
  transition: transform 1s;
  text-align: center;
  font-weight: bold;
}

.text {
  color: black;
  font-size: 50px;
  font-weight: bold;
  transition: transform 0.5s;
  text-align: center;

  @media screen and (min-width: 1600px) {
    font-size: 60px;
  }

  hr {
    margin-bottom: 15%;
  }

}

.container:hover .text1{
   transform: translateY(-60px);
  }

.container:hover .text{
   transform: translateY(-50px);
  }


  @media only screen and #{$brk-narrow} {

      .image {
        opacity: 1;
        }

      .text {
        color: black;
        font-size: 50px;
        opacity: 1;
        }

      .container:hover .middle {
        opacity: 1;
      }

      .container:hover .text{
         transform: none;
        }

}
