/* NAV MENU */



.NAV {
	@include span-columns(12);
	color: black;
	clear: both;
}

.NAV_ITEMS {
	float: right;
	margin-right: 0px;
	margin-top: 40px;

	@media screen and (min-width: 1700px) {
		margin-right: 90px;
		margin-top: 60px;
    }
}

.NAV_ITEMS a {
	margin-left: 40px;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;

	@media screen and (min-width: 1700px) {
		font-size: 30px;
    }
}

.LOGO {
	@include span-columns(4 of 12);
	margin-top: 5%;
	margin-left: 5%;
	@media #{$brk-narrow} {
			height: 60px;
			width: 60px;
	}	
}

.MENUITEM_ON {
  color: $color-gold; 
}












/* NAV MENU END =========================== */





