/* NAV MENU */

.NAV {
	@include span-columns(12);
	color: black;
	clear: both;
}

.NAV_ITEMS {
	float: right;
	margin-right: 60px;
	margin-top: 40px;
}

.NAV_ITEMS a {
	margin-left: 50px;
	font-size: 20px;
}

.LOGO {

	@include span-columns(4 of 12);
}













/* NAV MENU END =========================== */





