/* VARIABLES */


/* Descriptive color variable */



$white			:	#F4F4F2;
$grey			:	#999B9A;
$orange			: 	#FF9A66;
$black			: 	#000000;

/* Functional color variabels */


$color-white		:	$white;
$color-grey			:	$grey;
$color-orange		:	$orange;
$color-black		:	$black;

/* FONT variabels */

$stack-sans-serif	:	sans-serif;
$stack-open-sans	:	'Open Sans', $stack-sans-serif;
$stack-muli			:	'Muli', $stack-sans-serif;




/* MEDIA QUERY BREAKPOINTS */

$brk-xsmall  :	'(max-width: 320px)';
$brk-small  :	'(max-width: 550px)';
$brk-narrow	:	'(max-width: 768px)';
$brk-fix	:	'(max-width: 920px)';
$brk-wide	:	'(max-width: 1146px)';
$brk-maxwidth	: '(max-width: 1500px)';




